header{
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
}
button {
    font: 50px sans-serif;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    width: 30%;
  }
  button:hover {
    opacity: 0.5;
  }