*{
  margin:0;
  padding:0;
  }

main {
    display: flex;
    flex-direction: column;
    
   
  }
  header {
    
    font-size: 60px;
    text-align: center;
   
    border-top: 3px solid black;/* 上の線 */
    border-bottom: 3px solid black;/* 上の線 */
    margin-top: 0px;
    
  }
  button {
    font: 50px sans-serif;
    margin: 30px auto;
    padding: 10px;
    text-align: center;
    width: 30%;
  }
  button:hover {
    opacity: 0.5;
  }
  
  #kiso {
    background-color: #fffef8;
    margin-top: 100px;
  }
  #dewa {
    background-color: #90ee90;
  }
  #hiraniwa {
    background-color: #4169e1;
  }
  footer {
    text-align: center;
    font-size: 30px;
    margin-top: 60px;
  }
  @media screen and (max-width: 480px) {
    header {
      font-size: 50px;
    }
    button {
      font: 30px sans-serif;
      margin: 30px auto;
      width: 40%;
      text-align: center;
    }
  }
  #A{
   margin-top: 20px;
   font-size: 19px;
  }
  